<!DOCTYPE html>
<html>
<head>
    <title>Ingredients</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ingredients</a>
    </nav>

    <div class="container mt-4">
        <h2>Ingredients:</h2>
        <ul class="list-group">
            {% for ingredient in ingredients %}
                <li class="list-group-item">{{ ingredient.name }}</li>
            {% empty %}
                <li class="list-group-item">No ingredients available.</li>
            {% endfor %}
        </ul>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
